.btn {
  width: 200px;
  height: 40px;
  background: green;
  color: #fff;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: color, background-color;
  transition-delay: 3s;
}

.btn:hover {
  color: yellow;
  background-color: red;
}
